/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}
nav {
	
}
ul {
	display: inline-block;
}
hr {
	color: #000000;
}

.main-nav li {
	display: inline-block;
	margin-left: 45px;
	

}

a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

.logo {
	margin-left: 180px;
	padding: 15px;
}
.hero-img {
	margin-left: 160px;
}

.main {
	width: 100%;
	padding-top: 25px;
}

h2 {
	font-size: 100px;
	text-align: center;
}

.btn-full {
	margin-left: 175px;
	display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
	border: 1px solid #000000;
	color: #000000;
}
p {
	display: inline-block;
	padding: 10px;
}

hr {
	width: 1140px;
}

h3 {
	padding: 5px;
}

.middle-img {
	padding: 10px;
	width: 100%;
}

.column-2 {
	margin: 0.25em auto;
    vertical-align: top;
    display: inline-block;
	width: 49%; 
	padding-bottom: 15px;

}

.column-3 {
	margin: 0.25em auto;
    vertical-align: top;
    display: inline-block;
	width: 32.3333%;
	padding-top: 15px;
	padding-bottom: 15px;
    
}

address {
	padding-top: 20px;
}

.phone-number {
	padding-top: 15px;
}

.email {
	padding-top: 15px;
}

.copyright {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 50px;

}